
@{
    ViewData["Title"] = "Developer";
}

<div class="text-center">
    <h3 class="display-4">Hi Devs,</h3>
    
    <div class="d-flex justify-content-center">
        <img src="~/img/Programming.gif" alt="Developer at Work" style="width: 350px; height: 350px;">
    </div>

    <div class="d-auto justify-content-center mt-3">
        <p><strong>Developed By:</strong> Lasantha Karunarathne</p>
        <p><strong>Email:</strong> <a href="mailto:lasa.karu@yandex.com">lasa.karu@yandex.com</a></p>
    </div>
   
</div>